<!DOCTYPE html>
<html lang="en-us">
	<head>
	<title>VentureTrails.com</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="favicon.ico"/>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.cycle2.min.js"></script>
	<link rel="stylesheet" href="assets/styles/bootstrap.min.css"/>
	<link rel="stylesheet" href="assets/styles/style.css"/>
	<link rel="stylesheet" href="assets/styles/queries.css"/>
</head>

<body class="gradient-pattern">
<div id="container-fluid">
<header class="row row-fluid">
	<nav class="col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="row">
		<div class="col-xs-12 col-sm-3 text-center" id="logo"></div>

		<ul class="col-xs-12 col-sm-9 nav-ul text-right">
			<li class="nav-li transition"><a class="nav-a" href="/">Home</a></li>
			<li class="nav-li transition"><a class="nav-a" href="#">Trip Reports</a></li>
			<li class="nav-li transition"><a class="nav-a" href="#">Gear Guide</a></li>
			<li class="nav-li transition"><a class="nav-a" href="#">About Me</a></li>
		</ul>

	</div>
	</nav>

</header>
<section id="slideshow" class="cycle-slideshow">
	<img class="slide-img" src="assets/images/slideshow1.JPG">
	<img class="slide-img" src="assets/images/slideshow2.JPG">
	<img class="slide-img" src="assets/images/slideshow3.JPG">
</section>


<div class="row row-fluid" id="main_row">
	<div class="col-xs-12" id="main_container">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="material-div">
			<h4 class="text-center"><strong>Featured Trip Reports</strong></h4>
				<div class="row row-fluid">
					<a href="gcanyon.html"><div class="col-xs-12 col-md-4 featured text-center">
						<div class="featured-img" id="fimg_1"></div>
						<p class="featured-p">For the 2012 expedition, the gang chose to supersize our usual weekend jaunt, opting instead check one off our “life list”.  So we headed out west to the Grand Canyon for 5 glorious days backpacking.</p>
					</div></a>
					<div class="col-xs-12 col-md-4 featured text-center">
						<div class="featured-img" id="fimg_2"></div>
						<p class="featured-p">In June of 2014, the gang returned to the White Mountains to hike the famed “Pemi Loop trail”.   This loop path includes several 5000+ ft peaks and a “travel brochure” section of the AT well-known for its 360 deg views.</p>
					</div>					
					<div class="col-xs-12 col-md-4 featured text-center">
						<div class="featured-img" id="fimg_3"></div>
						<p class="featured-p">The usual suspects hiked 23 miles in the Smoky Mountains National Park May 1-3, 2010.  The route was from Elkmont Campground (elev 2150 ft) taking Jakes Creek Trail to Miry Creek Trail to Dripping Spring Mt, campsite 26.</p>
					</div>
				</div>
				<div class="break"></div>
				<div class="row row-fluid">
					<div class="col-xs-12 col-sm-2 text-center">
						<div id="chris"></div>
						<p id="author_p"><strong>Chris Edelen</strong></p>
					</div>
					<div class="col-xs-12 col-sm-10">
					<p id="about_home">Backpacking has something to offer anyone inclined to hit the trail and venture away from crowds and parking lots.  For the nature lover there’s the awe-inspiring views far from civilization, for the fitness enthusiast there’s the physical challenge of summiting a mountain or hiking miles with a pack, and the spiritual can ponder the wonder of creation and its Designer.  The techie has gear to tinker with and endless trip details to plan, and for the adrenalin junkie there’s the promise of adventure in the wilderness.  For me these all have appeal, but the best part is sharing the experience with friends.  The outdoors provide a great setting for camaraderie and reconnecting with friends.  For the past 10+ years, some old and new pals of mine meet each year to catch up and enjoy a weekend together in the great outdoors.  On this site you'll a list of the trips we’ve taken, and reports that may be helpful in planning your own adventures.</p>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="col-xs-12 text-center">
			<h5>Copyright Chris Edelen 2014-2016</h5>
			<br>
			</div>
		</footer>
	</div>

	
</div>

</div>
</body>
</html>