h2{
	font-size: 2.5em;
	margin: 15px 0;
}
h3{
	color: black;
	font-size: 2.2em;
}
h4{
	color: black;
	font-size: 2.1em;
}
h5{
	color: #464646;
	font-size: 1.2em;
}
p{
	
}
a{
	color: black;
}
.transition{
	transition: .3s all;
}
img{
	width: 400px;
	height: auto;
}


header{
	box-shadow: 0px 2px 4px 1px #8a6d3b;
	position: fixed;
	width: 100%;
	z-index: 200;
	background: url(../images/header.png);
	background-size: 40%;
}
#logo{
	background: url(../images/logo.png) no-repeat;
	background-size: contain;
	height: 69px;
}
.row-fluid{
	margin: 0;
}
.nav-ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-li{
	display: inline-block;
	padding: 23px 20px;
	margin: 0;
}
	.nav-a{
		font-size: 1.3em;
		font-family: 'Ubuntu', sans-serif;
		color: #464646;
	}
		.nav-a:hover{
			text-decoration: none;
			color: white;
		}
	.nav-li:hover{
	background: rgba(92, 92, 92, 0.4);
	border-radius: 10px;

	}
#slideshow{
	top: -300px;
	position: absolute;
}
.slide-img{
	width: 100%;
	height: auto;
}

#main_row{
	padding-top: 600px;
	min-height: 1080px;
}
#inner_row{
	min-height: 1080px;
}
#main_container{
	background: url(../images/map.png);
	background-size: 40%;
	z-index: 180;
	min-height: 700px;
	box-shadow: -2px -2px 2px 1px #8a6d3b;
}

#inner_container{
	background: url(../images/map.png);
	background-size: 30%;
	min-height: 1000px;
	box-shadow: -2px -2px 4px 1px #382727;
	padding-top: 80px;
}

.featured{
	padding: 0 30px;
}
	.featured-img{
		margin: 20px auto;
	    width: 70%;
	    padding-top: 70%;
	    border-radius: 50%;
	    box-shadow: 1px 1px 1px 0px gray;

	}
		#fimg_1{
			background: url(../images/feat_canyon.JPG);
			background-position: 29% 35%;
		}
		#fimg_2{
			background: url(../images/feat_app.JPG);
			background-position: 52% 22%;
			background-size: 130%;
		}
		#fimg_3{
			background: url(../images/feat_trees.JPG);
			background-size: 136%;
			background-position: 16% 7%;
		}
	.featured-p{
		font-size: 1.15em;
		color: black;
	}
	.featured-p:visited{
		color: black;
	}

.break{
	width: 600px;
	border: 1px solid black;
	margin: 20px auto;
}

#chris{
	background: #e6e6e6 url(../images/chris.JPG) no-repeat;
	background-size: 100%;
	border-radius: 50%;
	background-position: 50% 50%;
	box-shadow: 1px 1px 1px 0px gray;
	width: 70%;
	padding-top: 70%;
	margin: 0 auto;
}
	#author_p{
		font-size: 1.8em;
		color: black;
	}
	#about_home{
		font-size: 1.1em;
		padding-top: 15px;
	}

.material-div{
background: #f7f7f7;
margin: 15px;
padding: 20px;
box-shadow: 1px 1px 1px 1px #8E7461;
}

	#face{
		background: #e6e6e6 url(../images/patrick_pixelart.png) no-repeat;
		background-size: 90%;
		border-radius: 50%;
		background-position: 50% 50%;
		box-shadow: 1px 1px 1px 0px gray;
		width: 25%;
		padding-top: 25%;
	}


	.front-text{
		color: black;
		font-size: 1.8em;
		padding-top: 10%;
	}


footer{
	background: url(../images/map.png);
	z-index: 180;
	background-size: 30%;
}



div#fimg_2{
}